.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ffffff;
}
.form_container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 16px;
  gap: 24px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 4px 20px 0 #00000014;
}
.error_auth {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 11.72px;
  }
  .errorMessage {
    color: #ff6161;
    font-size: 14px;
    font-weight: 400;
    line-height: 11.72px;
    text-align: left;
  }
}
